{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Create New Event</title>
{% endblock meta %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock extra_css %}

{% block content %}
{% include 'navbar.html' %}
<main class="event-form-body mt-16">
    <div class="form-container">
        
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="status-coming">Status</label>
                <div class="status-selector">
                    <input type="radio" id="status-coming" name="event_status" value="coming_soon" {% if form.event_status.value == 'coming_soon' or not form.event_status.value %}checked{% endif %}>
                    <label for="status-coming" class="status-badge badge-coming-soon">Coming Soon</label>
                    
                    <input type="radio" id="status-finished" name="event_status" value="finished" {% if form.event_status.value == 'finished' %}checked{% endif %}>
                    <label for="status-finished" class="status-badge badge-finished">Finished</label>
                    
                    <input type="radio" id="status-ongoing" name="event_status" value="on_going" {% if form.event_status.value == 'on_going' %}checked{% endif %}>
                    <label for="status-ongoing" class="status-badge badge-on-going">On Going</label>
                </div>
                {% for error in form.event_status.errors %}
                    <p style="color: red; font-size: 0.8rem; margin-top: 4px;">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Event Name</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="{{ form.event_date.id_for_label }}">Event Date</label>
                {{ form.event_date }}
            </div>

            <div class="form-group">
                <label for="{{ form.regist_deadline.id_for_label }}">Registration Deadline</label>
                {{ form.regist_deadline }}
            </div>

            <div class="form-group">
                <label for="{{ form.location.id_for_label }}">Location</label>
                {{ form.location.as_widget }}
            </div>

            <div class="form-group">
                <label for="{{ form.contact.id_for_label }}">Contact Person</label>
                {{ form.contact }}
            </div>

            <div class="form-group">
                <label for="{{ form.capacity.id_for_label }}">Max Participants</label>
                {{ form.capacity }}
            </div>

            <div class="form-group">
                <label for="{{ form.distance.id_for_label }}">Distance (in meters)</label>
                {{ form.distance }}
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label>Event Category</label>
                <div class="checkbox-group">
                    {{ form.event_category }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Image URL 1</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="{{ form.image2.id_for_label }}">Image URL 2</label>
                {{ form.image2 }}
            </div>
            <div class="form-group">
                <label for="{{ form.image3.id_for_label }}">Image URL 3</label>
                {{ form.image3 }}
            </div>


            <div class="form-group" style="margin-top: 2rem;">
                <button type="submit" class="submit-btn">
                        Edit Event
                </button>
            </div>

        </form>
    </div>
</main>


<!-- <form method="POST">
    {% csrf_token %}
    <p>
        <label for="event_status">Status:</label><br>
        <select id="event_status" name="event_status" required>
            <option value="coming_soon" selected>Coming Soon</option> 
            <option value="on_going">On Going</option>
            <option value="finished">Finished</option>
        </select>
    </p>

    <p>
        <label for="name">Event Name:</label><br>
        <input type="text" id="name" name="name" maxlength="255" required>
    </p>

    <p>
        <label for="event_date">Event Date:</label><br>
        <input type="datetime-local" id="event_date" name="event_date" required>
    </p>

    <p>
        <label for="regist_deadline">Registration Deadline:</label><br>
        <input type="datetime-local" id="regist_deadline" name="regist_deadline" required>
    </p>

    <p>
        <label for="location">Location:</label><br>
        <select id="location" name="location" required>
            <option value="" disabled selected>Select a location</option>
            <option value="jakarta_barat">Jakarta Barat</option>
            <option value="jakarta_pusat">Jakarta Pusat</option>
            <option value="jakarta_selatan">Jakarta Selatan</option>
            <option value="jakarta_timur">Jakarta Timur</option>
            <option value="jakarta_utara">Jakarta Utara</option>
            <option value="bekasi">Bekasi</option>
            <option value="bogor">Bogor</option>
            <option value="depok">Depok</option>
            <option value="tangerang">Tangerang</option>
        </select>
    </p>

    <p>
        <label for="contact">Contact Person:</label><br>
        <input type="tel" id="contact" name="contact" maxlength="20" required>
    </p>

    <p>
        <label for="capacity">Max Participants:</label><br>
        <input type="number" id="capacity" name="capacity" min="0" value="0">
    </p>

    <p>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="5" cols="40" required></textarea>
    </p>

    <p>
        <label for="image">Image URL 1:</label><br>
        <input type="url" id="image" name="image" placeholder="https://example.com/image.png">
    </p>
    <p>
        <label for="image2">Image URL 2:</label><br>
        <input type="url" id="image2" name="image2" placeholder="https://example.com/image.png">
    </p>
    <p>
        <label for="image3">Image URL 3:</label><br>
        <input type="url" id="image3" name="image3" placeholder="https://example.com/image.png">
    </p>

    <p>
        <label>Event Category:</label><br>
        
        <input type="checkbox" id="cat1" name="event_category" value="1"> 
        <label for="cat1">Fun Run</label><br>
        
        <input type="checkbox" id="cat2" name="event_category" value="2">
        <label for="cat2">5K</label><br>
        
        <input type="checkbox" id="cat3" name="event_category" value="3">
        <label for="cat3">10K</label><br>
        
        <input type="checkbox" id="cat4" name="event_category" value="4">
        <label for="cat4">Half Marathon</label><br>
        
        <input type="checkbox" id="cat5" name="event_category" value="5">
        <label for="cat5">Full Marathon</label><br>
    </p>
    
    <br>
    <button type="submit">Submit Event</button>

</form> -->

{% include 'footer.html' %}
{% endblock content %}