{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Add DOMPurify here -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    
  </head>
  <body class="bg-[#F9F9F9]">
    {% include 'navbar.html' %}

    <main class="flex-1 pt-16">   <!-- <== BAGIAN PENTING -->
      {% block content %}
      {% endblock content %}
    </main>
    
    <!-- Toast Container -->
    <div id="toast-container"
        class="fixed top-5 right-5 z-50 flex flex-col space-y-3">
      {% include 'toast.html' %}
    </div>

    <!-- Script untuk munculin toast -->
    <script src="{% static 'js/toast.js' %}"></script>
    
  </body>
</html>